@charset "utf-8";
* {
	padding:0;
	margin:0;
}
body {
	text-decoration:none;
	color:#777777;
	font-size:12px;
	font-family:Verdana,Arial,sans-serif;
	padding:0;
	margin:0;
	border-top:5px solid #ddaa00;
}
table, pre, ul {
	font-family:Verdana,Arial,sans-serif;
}
input {
	font-family:'ＭＳ Ｐゴシック',sans-serif;
	color:#555f66;
	letter-spacing:-1px;
}

h2 {
	font-size:16px;
	height:25px;
	margin:20px 0 20px 0px;
	padding:5px 0 0 20px;	
	color:#cc5500;
	background-image:url("../images/h2.gif");
	background-repeat:repeat-x;
}

h3 {
	font-size:16px;
	color:#bb8800;
	padding:0 0 5px 0;
	margin:60px 0 30px 10px;
	border-bottom:1px solid #cccccc;
}

h4 {
	color:#cc8800;
	margin:50px 0 20px 20px;
}
h1.logo {
	font-family:Lucida Grande, Verdana, Geneva, Sans-serif;
	font-size:35px;
	color:#ccaa00;
	font-weight : normal;
}
h1.logo span {
	font-size:25px;
}

#header_frame {
	border-bottom:1px solid #cccccc;
	
	background: -moz-linear-gradient(#ffffff, #ffffff 80%, #dddddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(0.8, #ffffff), to(#dddddd));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#ffffff, EndColorStr=#dddddd);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#ffffff, EndColorStr=#dddddd)";
	zoom: 1;
}

#header_frame_inner {
	width:1000px;
	margin:0 auto 0 auto;
}
#header_menu {
	width:140px;
	height:20px;
	list-style-type:none;
	font-size:12px;
	margin:0 0 0 auto;
	background:#ddaa00;

	border-bottom-right-radius: 5px;		/* CSS3草案 */
	border-bottom-left-radius: 5px;		/* CSS3草案 */
	-webkit-border-bottom-right-radius: 5px;	/* Safari,Google Chrome用 */
	-webkit-border-bottom-left-radius: 5px;	/* Safari,Google Chrome用 */
	-moz-border-radius-bottomright: 5px;	/* Firefox用 */
	-moz-border-radius-bottomleft: 5px;	/* Firefox用 */
	
}
#header_menu li {
	float:right;
	width:60px;
	margin:0 0 5px 5px;
	color:#666666;
	text-align:center;
	
}
#header_menu li a:link,
#header_menu li a:visited {	
	color:#ffffff;
	text-decoration:none;
}
#header_menu li a:hover {
	color:#CC0000;
	text-decoration:underline;
}
#main_menu {
	list-style-type:none;
	font-size:12px;
	height:25px;
}
#main_menu li {
	float:right;
	font-weight:bolder;
	text-align:center;

}
#main_menu li.current div {
	color:#eeeeee;
	padding:5px 0;
}

#main_menu li a {
	color:#888888;
	display:block;
	padding:5px 25px;
	text-decoration:none;
/*
	border-bottom:1px solid #cccccc;
	border-top:1px solid #dddddd;
*/
	cursor:pointer;
}
#main_menu li a:hover {
	background:#eedd88;
}
#main_menu li.selected a {
	color:#ffffff;	
	background: -moz-linear-gradient(#eedd88, #cc8800);
	background: -webkit-gradient(linear, left top, left bottom, from(#eedd88), to(#cc8800));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#eedd88, EndColorStr=#cc8800);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#eedd88, EndColorStr=#cc8800)";
	zoom: 1;
}
#main_frame {
	width:1000px;
	margin:0 auto 10px auto;
	padding:0 0 50px 0;
	background-color:#FFFFFF;		
}
#left_frame {
	float:right;
	width:160px;
	height:100%;
	margin:0;
	padding:0;
	background-color:#FFFFFF;
}
#right_frame {
	margin:10px 200px 0 0;
	padding-bottom:0;
}
#nomenu_frame {
	width:800px;
}
#prev_next_navi {
	font-size:14px;
	margin:80px 0 0 30px;
}
#prev_navi {
	float:left;
	width:48%;
	text-align:left;
	border:1px solid #FFFFFF;
}

#next_navi {
	float:left;
	width:48%;
	text-align:right;
	border:1px solid #FFFFFF;
}
#prev_next_navi a {
	text-decoration:none;
}
#prev_next_navi a:hover {
	text-decoration:underline;
}

#totop {
	margin:70px 0 0 0;
}
#totop div{
	font-size:12px;
	text-align:right;
	margin:0 0 0 440px;
	padding:3px 0 1px 0;
	background-color:#B0BBBF;
	font-weight:bolder;
}
#totop div.nomenu {
	margin:0 0 0 610px;
}

#footer_frame {
	clear:both;
	height:25px;
	font-size:12px;
	text-align:center;
	padding:20px 0 0 0;
	border-bottom:2px solid #ddaa00;

	background: -moz-linear-gradient(#dddddd, #ffffff 30%, #ffffff);
	background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), color-stop(0.3, #ffffff), to(#ffffff));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#dddddd, EndColorStr=#ffffff);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#dddddd, EndColorStr=#ffffff)";
	zoom: 1;
}

#side_menu {
	list-style-type:none;
	margin:0 0 20px 0;
	padding:0;
}
#side_menu li {
	padding:0;
	margin:0;
	border-bottom:1px dotted #cccccc;
	font-size:12px;
}
#side_menu li.virtual {
	color:#708B8F;
	background-image:url("../images/layout/h3_back.jpg");
	background-repeat:repeat-x;
	margin:0;
}
#side_menu li a {
	color:#bb9900;
	display:block;
	padding:10px 0 10px 12px;
	text-decoration:none;
	cursor:pointer;
}
#side_menu li a:link{
	text-decoration:none;
}
#side_menu li a:visited{
	text-decoration:none;
}
#side_menu li a:hover {
	background:#eedd88;
}
#side_menu li.selected a {
	background:#dbf6ff;
	color:#ffffff;
	font-weight:bolder;
		
	background: -moz-linear-gradient(#eedd88, #cc8800);
	background: -webkit-gradient(linear, left top, left bottom, from(#eedd88), to(#cc8800));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#eedd88, EndColorStr=#cc8800);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#eedd88, EndColorStr=#cc8800)";
	zoom: 1;
	
}

#admin_menu {
	list-style-type:none;
	background-color:#EDE6E0;
}
#admin_menu li {
	width:266px;
	float:left;
	text-align:center;
	background-image:url("../images/layout/header_menu_back.gif");
	background-repeat:repeat-x;
}
#admin_menu li.current {
	background-image:url("../images/layout/header_menu_back_reverse.gif");
	background-repeat:repeat-x;
}
#admin_menu li.current div {
	color:#AA0000;;
	padding:7px 0;
	border:1px solid #888888;	
}
#admin_menu li.current span {
	display:block;
	height:15px;
}

#admin_menu li a {
	color:#AA0000;
	display:block;
	padding:7px 0;
	text-decoration:none;
	border:1px solid #888888;
	cursor:pointer;
}
#admin_menu li a span {
	display:block;
	height:15px;
	cursor:pointer;
}

#admin_menu li a:hover {
	border:1px solid #FF8000;
	color:#FF8000;;
}

.clear {
	clear:both;
}